# ETL-Project

# Extract

In [1]:
# Dependencies
from bs4 import BeautifulSoup as bs
import pandas as pd

# Extract-Stadiums

In [2]:
# URL of page to be scraped
url = 'https://en.wikipedia.org/wiki/List_of_current_National_Football_League_stadiums'

stadium = pd.read_html(url)
stadium

[                                          0
 0        Denotes stadium with a fixed roof.
 1  Denotes stadium with a retractable roof.,
     Image                        Name  Capacity                     Location  \
 0     NaN           Allegiant Stadium     65000             Paradise, Nevada
 1     NaN           Arrowhead Stadium     76416        Kansas City, Missouri
 2     NaN                AT&T Stadium     80000             Arlington, Texas
 3     NaN     Bank of America Stadium     75523    Charlotte, North Carolina
 4     NaN           CenturyLink Field     69000          Seattle, Washington
 5     NaN  Empower Field at Mile High     76125             Denver, Colorado
 6     NaN                  FedExField     82000           Landover, Maryland
 7     NaN         FirstEnergy Stadium     67895              Cleveland, Ohio
 8     NaN                  Ford Field     65000            Detroit, Michigan
 9     NaN            Gillette Stadium     66829    Foxborough, Massachusetts
 10    NaN           Hard Rock Stadium     65326       Miami Gardens, Florida
 11    NaN                 Heinz Field     68400     Pittsburgh, Pennsylvania
 12    NaN               Lambeau Field     81441         Green Bay, Wisconsin
 13    NaN              Levi's Stadium     68500      Santa Clara, California
 14    NaN     Lincoln Financial Field     69596   Philadelphia, Pennsylvania
 15    NaN           Lucas Oil Stadium     67000        Indianapolis, Indiana
 16    NaN            M&T Bank Stadium     71008          Baltimore, Maryland
 17    NaN     Mercedes-Benz Superdome     73208       New Orleans, Louisiana
 18    NaN       Mercedes-Benz Stadium     71000             Atlanta, Georgia
 19    NaN             MetLife Stadium     82500  East Rutherford, New Jersey
 20    NaN               New Era Field     71608       Orchard Park, New York
 21    NaN              Nissan Stadium     69143         Nashville, Tennessee
 22    NaN                 NRG Stadium     72220               Houston, Texas
 23    NaN          Paul Brown Stadium     65515             Cincinnati, Ohio
 24    NaN       Raymond James Stadium     65890               Tampa, Florida
 25    NaN                SoFi Stadium     70240        Inglewood, California
 26    NaN               Soldier Field     61500            Chicago, Illinois
 27    NaN          State Farm Stadium     63400            Glendale, Arizona
 28    NaN             TIAA Bank Field     69132        Jacksonville, Florida
 29    NaN           U.S. Bank Stadium     66655       Minneapolis, Minnesota

                                             Surface    Roof type  \
 0                                             Grass        Fixed
 1                                     Bermuda grass         Open
 2                                Hellas Matrix Turf  Retractable
 3                                     Bermuda grass         Open
 4                       FieldTurf Revolution 360[8]         Open
 5                                Kentucky bluegrass         Open
 6                                     Bermuda grass         Open
 7                                Kentucky bluegrass         Open
 8                           FieldTurf Classic HD[8]        Fixed
 9                                 FieldTurf CORE[8]         Open
 10                             Platinum TE Paspalum         Open
 11                               Kentucky bluegrass         Open
 12                            Desso GrassMaster[18]         Open
 13       Bermuda grass / Perennial Ryegrass mixture         Open
 14                            Desso GrassMaster[21]         Open
 15                         Shaw Sports Momentum Pro  Retractable
 16                                    Bermuda grass         Open
 17                      FieldTurf Revolution 360[8]        Fixed
 18                         FieldTurf Revolution[26]  Retractable
 19  UBU Sports Speed Series S5-M Synthetic Turf[28]         Open
 20                              A-Turf Titan 50[30]         Open
 21                                    Bermuda grass         Open
 22                           Hellas Matrix Turf[32]  Retractable
 23             UBU Speed Series S5-M Synthetic Turf         Open
 24                                    Bermuda grass         Open
 25                                  Artificial turf        Fixed
 26                               Kentucky bluegrass         Open
 27                                    Bermuda grass  Retractable
 28                                    Bermuda grass         Open
 29         UBU Speed Series S5-M Synthetic Turf[40]        Fixed

                                  Team(s)      Opened    Ref(s)
 0                      Las Vegas Raiders        2020       [3]
 1                     Kansas City Chiefs        1972       [4]
 2                         Dallas Cowboys        2009    [5][6]
 3                      Carolina Panthers        1996       [7]
 4                       Seattle Seahawks        2002       [9]
 5                         Denver Broncos        2001      [10]
 6                    Washington Redskins        1997      [11]
 7                       Cleveland Browns        1999  [12][13]
 8                          Detroit Lions        2002      [14]
 9                   New England Patriots        2002      [15]
 10                        Miami Dolphins        1987      [16]
 11                   Pittsburgh Steelers        2001      [17]
 12                     Green Bay Packers        1957      [19]
 13                   San Francisco 49ers        2014      [20]
 14                   Philadelphia Eagles        2003      [22]
 15                    Indianapolis Colts        2008      [23]
 16                      Baltimore Ravens        1998      [24]
 17                    New Orleans Saints        1975      [25]
 18                       Atlanta Falcons        2017      [27]
 19          New York GiantsNew York Jets        2010      [29]
 20                         Buffalo Bills        1973      [30]
 21                      Tennessee Titans        1999      [31]
 22                        Houston Texans        2002      [33]
 23                    Cincinnati Bengals        2000      [34]
 24                  Tampa Bay Buccaneers        1998      [35]
 25  Los Angeles RamsLos Angeles Chargers        2020      [36]
 26                         Chicago Bears  1924[nb 1]      [37]
 27                     Arizona Cardinals        2006      [38]
 28                  Jacksonville Jaguars        1995      [39]
 29                     Minnesota Vikings        2016      [41]  ,
    Image                          Stadium      Capacity             Location  \
 0    NaN            Camping World Stadium         65000     Orlando, Florida
 1    NaN                   Estadio Azteca    87,523[42]  Mexico City, Mexico
 2    NaN  Tom Benson Hall of Fame Stadium         22364         Canton, Ohio
 3    NaN                  Wembley Stadium  86,000[nb 4]      London, England
 4    NaN        Tottenham Hotspur Stadium         62062      London, England

                       Surface              Roof type           Event(s)  \
 0  AstroTurf GameDay Grass 3D                   Open           Pro Bowl
 1                       Grass                   Open    NFL Mexico Game
 2        FieldTurf Classic HD                   Open  Hall of Fame Game
 3           Desso GrassMaster  Partially retractable   NFL London Games
 4             Artificial turf                   Open   NFL London Games

        Opened Ref(s)
 0  1936[nb 2]    NaN
 1        1966    NaN
 2  1938[nb 3]   [43]
 3        2007    NaN
 4        2019   [44]  ,
             Stadium  Capacity           Location Surface Roof type  \
 0  New Era Field II       NaN  Buffalo, New York   Grass      Open
 1  Redskins Stadium   60000.0                NaN     NaN      Open

                Team(s)  Opening  Ref(s)
 0        Buffalo Bills      NaN     NaN
 1  Washington Redskins      NaN     NaN  ,
    vteCurrent stadiums of the National Football League  \
 0                                                 AFC
 1   EastNorthSouthWest Gillette Stadium Hard Rock ...
 2                                                East
 3   Gillette Stadium Hard Rock Stadium MetLife Sta...
 4                                                 NFC
 5   EastNorthSouthWest AT&T Stadium FedExField Lin...
 6                                                East
 7   AT&T Stadium FedExField Lincoln Financial Fiel...
 8   Hall of Fame Game Tom Benson Hall of Fame Stad...
 9                                   Hall of Fame Game
 10                                           Pro Bowl
 11                               International Series
 12  1 Both the New York Giants (NFC) and the New Y...

    vteCurrent stadiums of the National Football League.1  \
 0   EastNorthSouthWest Gillette Stadium Hard Rock ...
 1   EastNorthSouthWest Gillette Stadium Hard Rock ...
 2                                               North
 3   FirstEnergy Stadium Heinz Field M&T Bank Stadi...
 4   EastNorthSouthWest AT&T Stadium FedExField Lin...
 5   EastNorthSouthWest AT&T Stadium FedExField Lin...
 6                                               North
 7   Ford Field Lambeau Field Soldier Field U.S. Ba...
 8   Hall of Fame Game Tom Benson Hall of Fame Stad...
 9                     Tom Benson Hall of Fame Stadium
 10                              Camping World Stadium
 11  Wembley Stadium Tottenham Hotspur Stadium Esta...
 12  1 Both the New York Giants (NFC) and the New Y...

                                            Unnamed: 2  \
 0                                                 NaN
 1                                                 NaN
 2                                               South
 3   Lucas Oil Stadium Nissan Stadium NRG Stadium T...
 4                                                 NaN
 5                                                 NaN
 6                                               South
 7   Bank of America Stadium Mercedes-Benz Stadium ...
 8                                                 NaN
 9                                                 NaN
 10                                                NaN
 11                                                NaN
 12                                                NaN

                                            Unnamed: 3
 0                                                 NaN
 1                                                 NaN
 2                                                West
 3   Allegiant Stadium Arrowhead Stadium Empower Fi...
 4                                                 NaN
 5                                                 NaN
 6                                                West
 7   CenturyLink Field Levi's Stadium SoFi Stadium2...
 8                                                 NaN
 9                                                 NaN
 10                                                NaN
 11                                                NaN
 12                                                NaN  ,
                                                    0  \
 0  EastNorthSouthWest Gillette Stadium Hard Rock ...
 1                                               East
 2  Gillette Stadium Hard Rock Stadium MetLife Sta...

                                                    1  \
 0  EastNorthSouthWest Gillette Stadium Hard Rock ...
 1                                              North
 2  FirstEnergy Stadium Heinz Field M&T Bank Stadi...

                                                    2  \
 0                                                NaN
 1                                              South
 2  Lucas Oil Stadium Nissan Stadium NRG Stadium T...

                                                    3
 0                                                NaN
 1                                               West
 2  Allegiant Stadium Arrowhead Stadium Empower Fi...  ,
                                                    0  \
 0                                               East
 1  Gillette Stadium Hard Rock Stadium MetLife Sta...

                                                    1  \
 0                                              North
 1  FirstEnergy Stadium Heinz Field M&T Bank Stadi...

                                                    2  \
 0                                              South
 1  Lucas Oil Stadium Nissan Stadium NRG Stadium T...

                                                    3
 0                                               West
 1  Allegiant Stadium Arrowhead Stadium Empower Fi...  ,
                                                    0  \
 0  EastNorthSouthWest AT&T Stadium FedExField Lin...
 1                                               East
 2  AT&T Stadium FedExField Lincoln Financial Fiel...

                                                    1  \
 0  EastNorthSouthWest AT&T Stadium FedExField Lin...
 1                                              North
 2  Ford Field Lambeau Field Soldier Field U.S. Ba...

                                                    2  \
 0                                                NaN
 1                                              South
 2  Bank of America Stadium Mercedes-Benz Stadium ...

                                                    3
 0                                                NaN
 1                                               West
 2  CenturyLink Field Levi's Stadium SoFi Stadium2...  ,
                                                    0  \
 0                                               East
 1  AT&T Stadium FedExField Lincoln Financial Fiel...

                                                    1  \
 0                                              North
 1  Ford Field Lambeau Field Soldier Field U.S. Ba...

                                                    2  \
 0                                              South
 1  Bank of America Stadium Mercedes-Benz Stadium ...

                                                    3
 0                                               West
 1  CenturyLink Field Levi's Stadium SoFi Stadium2...  ,
                       0                                                  1
 0     Hall of Fame Game                    Tom Benson Hall of Fame Stadium
 1              Pro Bowl                              Camping World Stadium
 2  International Series  Wembley Stadium Tottenham Hotspur Stadium Esta...,
                    vteNational Football League (2020)  \
 0                                                 AFC
 1   EastNorthSouthWest Buffalo Bills Miami Dolphin...
 2                                                East
 3   Buffalo Bills Miami Dolphins New England Patri...
 4                                                 NFC
 5   EastNorthSouthWest Dallas Cowboys New York Gia...
 6                                                East
 7   Dallas Cowboys New York Giants Philadelphia Ea...
 8   Seasons Seasons by team Preseason Hall of Fame...
 9                                             Seasons
 10                                            History
 11                                           Business
 12                                              Other

                  vteNational Football League (2020).1  \
 0   EastNorthSouthWest Buffalo Bills Miami Dolphin...
 1   EastNorthSouthWest Buffalo Bills Miami Dolphin...
 2                                               North
 3   Baltimore Ravens Cincinnati Bengals Cleveland ...
 4   EastNorthSouthWest Dallas Cowboys New York Gia...
 5   EastNorthSouthWest Dallas Cowboys New York Gia...
 6                                               North
 7   Chicago Bears Detroit Lions Green Bay Packers ...
 8   Seasons Seasons by team Preseason Hall of Fame...
 9   Seasons by team Preseason Hall of Fame Game Am...
 10  League history Executive history Championship ...
 11  Owners Properties Management Council Competiti...
 12  Officials Stadiums Chronology Awards All-Pro H...

                                            Unnamed: 2  \
 0                                                 NaN
 1                                                 NaN
 2                                               South
 3   Houston Texans Indianapolis Colts Jacksonville...
 4                                                 NaN
 5                                                 NaN
 6                                               South
 7   Atlanta Falcons Carolina Panthers New Orleans ...
 8                                                 NaN
 9                                                 NaN
 10                                                NaN
 11                                                NaN
 12                                                NaN

                                            Unnamed: 3
 0                                                 NaN
 1                                                 NaN
 2                                                West
 3   Denver Broncos Kansas City Chiefs Las Vegas Ra...
 4                                                 NaN
 5                                                 NaN
 6                                                West
 7   Arizona Cardinals Los Angeles Rams San Francis...
 8                                                 NaN
 9                                                 NaN
 10                                                NaN
 11                                                NaN
 12                                                NaN  ,
                                                    0  \
 0  EastNorthSouthWest Buffalo Bills Miami Dolphin...
 1                                               East
 2  Buffalo Bills Miami Dolphins New England Patri...

                                                    1  \
 0  EastNorthSouthWest Buffalo Bills Miami Dolphin...
 1                                              North
 2  Baltimore Ravens Cincinnati Bengals Cleveland ...

                                                    2  \
 0                                                NaN
 1                                              South
 2  Houston Texans Indianapolis Colts Jacksonville...

                                                    3
 0                                                NaN
 1                                               West
 2  Denver Broncos Kansas City Chiefs Las Vegas Ra...  ,
                                                    0  \
 0                                               East
 1  Buffalo Bills Miami Dolphins New England Patri...

                                                    1  \
 0                                              North
 1  Baltimore Ravens Cincinnati Bengals Cleveland ...

                                                    2  \
 0                                              South
 1  Houston Texans Indianapolis Colts Jacksonville...

                                                    3
 0                                               West
 1  Denver Broncos Kansas City Chiefs Las Vegas Ra...  ,
                                                    0  \
 0  EastNorthSouthWest Dallas Cowboys New York Gia...
 1                                               East
 2  Dallas Cowboys New York Giants Philadelphia Ea...

                                                    1  \
 0  EastNorthSouthWest Dallas Cowboys New York Gia...
 1                                              North
 2  Chicago Bears Detroit Lions Green Bay Packers ...

                                                    2  \
 0                                                NaN
 1                                              South
 2  Atlanta Falcons Carolina Panthers New Orleans ...

                                                    3
 0                                                NaN
 1                                               West
 2  Arizona Cardinals Los Angeles Rams San Francis...  ,

In [3]:
type(stadium)

list

In [4]:
len(stadium)

16

In [5]:
stadium[1].head()

,Image,Name,Capacity,Location,Surface,Roof type,Team(s),Opened,Ref(s)
0,NaN,Allegiant Stadium,65000,"Paradise, Nevada",Grass,Fixed,Las Vegas Raiders,2020,[3]
1,NaN,Arrowhead Stadium,76416,"Kansas City, Missouri",Bermuda grass,Open,Kansas City Chiefs,1972,[4]
2,NaN,AT&T Stadium,80000,"Arlington, Texas",Hellas Matrix Turf,Retractable,Dallas Cowboys,2009,[5][6]
3,NaN,Bank of America Stadium,75523,"Charlotte, North Carolina",Bermuda grass,Open,Carolina Panthers,1996,[7]
4,NaN,CenturyLink Field,69000,"Seattle, Washington",FieldTurf Revolution 360[8],Open,Seattle Seahawks,2002,[9]

# Transform-Stadiums

In [6]:
df=stadium[1]

In [7]:
# new data frame with split value columns 
new = df["Location"].str.split(",", n = 1, expand = True) 
  
# making separate first name column from new data frame 
df["City"]= new[0] 
  
# making separate last name column from new data frame 
df["State"]= new[1]

In [8]:
df.head()

,Image,Name,Capacity,Location,Surface,Roof type,Team(s),Opened,Ref(s),City,State
0,NaN,Allegiant Stadium,65000,"Paradise, Nevada",Grass,Fixed,Las Vegas Raiders,2020,[3],Paradise,Nevada
1,NaN,Arrowhead Stadium,76416,"Kansas City, Missouri",Bermuda grass,Open,Kansas City Chiefs,1972,[4],Kansas City,Missouri
2,NaN,AT&T Stadium,80000,"Arlington, Texas",Hellas Matrix Turf,Retractable,Dallas Cowboys,2009,[5][6],Arlington,Texas
3,NaN,Bank of America Stadium,75523,"Charlotte, North Carolina",Bermuda grass,Open,Carolina Panthers,1996,[7],Charlotte,North Carolina
4,NaN,CenturyLink Field,69000,"Seattle, Washington",FieldTurf Revolution 360[8],Open,Seattle Seahawks,2002,[9],Seattle,Washington

In [9]:
df['Team']=df['Team(s)']
stadium_df=df[['Name', 'Capacity','City', 'State','Surface','Roof type','Team', 'Opened']]
stadium_df=stadium_df.reset_index()

In [10]:
stadium_df=stadium_df.rename(columns={'index':"stad_id","Roof type":"Roof_Type"})
stadium_df

,stad_id,Name,Capacity,City,State,Surface,Roof_Type,Team,Opened
0,0,Allegiant Stadium,65000,Paradise,Nevada,Grass,Fixed,Las Vegas Raiders,2020
1,1,Arrowhead Stadium,76416,Kansas City,Missouri,Bermuda grass,Open,Kansas City Chiefs,1972
2,2,AT&T Stadium,80000,Arlington,Texas,Hellas Matrix Turf,Retractable,Dallas Cowboys,2009
3,3,Bank of America Stadium,75523,Charlotte,North Carolina,Bermuda grass,Open,Carolina Panthers,1996
4,4,CenturyLink Field,69000,Seattle,Washington,FieldTurf Revolution 360[8],Open,Seattle Seahawks,2002
5,5,Empower Field at Mile High,76125,Denver,Colorado,Kentucky bluegrass,Open,Denver Broncos,2001
6,6,FedExField,82000,Landover,Maryland,Bermuda grass,Open,Washington Redskins,1997
7,7,FirstEnergy Stadium,67895,Cleveland,Ohio,Kentucky bluegrass,Open,Cleveland Browns,1999
8,8,Ford Field,65000,Detroit,Michigan,FieldTurf Classic HD[8],Fixed,Detroit Lions,2002
9,9,Gillette Stadium,66829,Foxborough,Massachusetts,FieldTurf CORE[8],Open,New England Patriots,2002
10,10,Hard Rock Stadium,65326,Miami Gardens,Florida,Platinum TE Paspalum,Open,Miami Dolphins,1987
11,11,Heinz Field,68400,Pittsburgh,Pennsylvania,Kentucky bluegrass,Open,Pittsburgh Steelers,2001
12,12,Lambeau Field,81441,Green Bay,Wisconsin,Desso GrassMaster[18],Open,Green Bay Packers,1957
13,13,Levi's Stadium,68500,Santa Clara,California,Bermuda grass / Perennial Ryegrass mixture,Open,San Francisco 49ers,2014
14,14,Lincoln Financial Field,69596,Philadelphia,Pennsylvania,Desso GrassMaster[21],Open,Philadelphia Eagles,2003
15,15,Lucas Oil Stadium,67000,Indianapolis,Indiana,Shaw Sports Momentum Pro,Retractable,Indianapolis Colts,2008
16,16,M&T Bank Stadium,71008,Baltimore,Maryland,Bermuda grass,Open,Baltimore Ravens,1998
17,17,Mercedes-Benz Superdome,73208,New Orleans,Louisiana,FieldTurf Revolution 360[8],Fixed,New Orleans Saints,1975
18,18,Mercedes-Benz Stadium,71000,Atlanta,Georgia,FieldTurf Revolution[26],Retractable,Atlanta Falcons,2017
19,19,MetLife Stadium,82500,East Rutherford,New Jersey,UBU Sports Speed Series S5-M Synthetic Turf[28],Open,New York GiantsNew York Jets,2010
20,20,New Era Field,71608,Orchard Park,New York,A-Turf Titan 50[30],Open,Buffalo Bills,1973
21,21,Nissan Stadium,69143,Nashville,Tennessee,Bermuda grass,Open,Tennessee Titans,1999
22,22,NRG Stadium,72220,Houston,Texas,Hellas Matrix Turf[32],Retractable,Houston Texans,2002
23,23,Paul Brown Stadium,65515,Cincinnati,Ohio,UBU Speed Series S5-M Synthetic Turf,Open,Cincinnati Bengals,2000
24,24,Raymond James Stadium,65890,Tampa,Florida,Bermuda grass,Open,Tampa Bay Buccaneers,1998
25,25,SoFi Stadium,70240,Inglewood,California,Artificial turf,Fixed,Los Angeles RamsLos Angeles Chargers,2020
26,26,Soldier Field,61500,Chicago,Illinois,Kentucky bluegrass,Open,Chicago Bears,1924[nb 1]
27,27,State Farm Stadium,63400,Glendale,Arizona,Bermuda grass,Retractable,Arizona Cardinals,2006
28,28,TIAA Bank Field,69132,Jacksonville,Florida,Bermuda grass,Open,Jacksonville Jaguars,1995
29,29,U.S. Bank Stadium,66655,Minneapolis,Minnesota,UBU Speed Series S5-M Synthetic Turf[40],Fixed,Minnesota Vikings,2016

# Extract-Teams & Owners

In [11]:
# URL of page to be scraped
url='https://en.wikipedia.org/wiki/Wikipedia:WikiProject_National_Football_League/National_Football_League_team_abbreviations'
teams = pd.read_html(url)
teams

[                       0                     1
 0   Abbreviation/Acronym             Franchise
 1                    ARI     Arizona Cardinals
 2                    ATL       Atlanta Falcons
 3                    BAL      Baltimore Ravens
 4                    BUF         Buffalo Bills
 5                    CAR     Carolina Panthers
 6                    CHI         Chicago Bears
 7                    CIN    Cincinnati Bengals
 8                    CLE      Cleveland Browns
 9                    DAL        Dallas Cowboys
 10                   DEN        Denver Broncos
 11                   DET         Detroit Lions
 12                    GB     Green Bay Packers
 13                   HOU        Houston Texans
 14                   IND    Indianapolis Colts
 15                   JAX  Jacksonville Jaguars
 16                    KC    Kansas City Chiefs
 17                   LAC  Los Angeles Chargers
 18                   LAR      Los Angeles Rams
 19                    LV     Las Vegas Raiders
 20                   MIA        Miami Dolphins
 21                   MIN     Minnesota Vikings
 22                    NE  New England Patriots
 23                    NO    New Orleans Saints
 24                   NYG       New York Giants
 25                   NYJ         New York Jets
 26                   PHI   Philadelphia Eagles
 27                   PIT   Pittsburgh Steelers
 28                   SEA      Seattle Seahawks
 29                    SF   San Francisco 49ers
 30                    TB  Tampa Bay Buccaneers
 31                   TEN      Tennessee Titans
 32                   WAS   Washington Redskins]

In [12]:
len(teams)

1

In [13]:
teams[0].head()

                      0                  1
0  Abbreviation/Acronym          Franchise
1                   ARI  Arizona Cardinals
2                   ATL    Atlanta Falcons
3                   BAL   Baltimore Ravens
4                   BUF      Buffalo Bills

In [41]:
# URL of page to be scraped
url='https://en.wikipedia.org/wiki/List_of_NFL_franchise_owners'
owners = pd.read_html(url)

In [15]:
len(owners)

12

In [16]:
owners[0]

,Franchise,Owner,Yearacquired
0,Arizona Cardinals,Estate of Bill Bidwill‡6,2019
1,Atlanta Falcons,Arthur Blank†1,2004
2,Baltimore Ravens,Steve Bisciotti†1,2004
3,Buffalo Bills,Kim and Terry Pegula,2014
4,Carolina Panthers,David Tepper,2018
5,Chicago Bears,Virginia Halas McCaskey†‡2,1983
6,Cincinnati Bengals,Mike Brown‡2,1991
7,Cleveland Browns,Jimmy and Dee Haslam,2012
8,Dallas Cowboys,Jerry Jones,1989
9,Denver Broncos,"Joe Ellis, trustee6",2019
10,Detroit Lions,Martha Ford†[1],2014
11,Green Bay Packers,"Green Bay Packers, Inc.4",1923
12,Houston Texans,Janice McNair and family†‡2,2018
13,Indianapolis Colts,Jim Irsay‡,1997
14,Jacksonville Jaguars,Shahid Khan,2012
15,Kansas City Chiefs,Clark Hunt and siblings‡2,2006
16,Las Vegas Raiders,Carol and Mark Davis (mother and son)†‡,2011
17,Los Angeles Chargers,Dean Spanos,2018
18,Los Angeles Rams,Stan Kroenke1,2010
19,Miami Dolphins,Stephen M. Ross†,2008
20,Minnesota Vikings,Zygi Wilf†,2005
21,New England Patriots,Robert Kraft,1994
22,New Orleans Saints,Gayle Benson,2018
23,New York Giants,John Mara (50%)3 Steve Tisch (50%),2005
24,New York Jets,Robert Wood Johnson IV5 and Christopher Wold J...,2000
25,Philadelphia Eagles,Jeffrey Lurie,1994
26,Pittsburgh Steelers,"Art Rooney II1,3 (60%) and family (12%)1,2,3",2017
27,San Francisco 49ers,Denise DeBartolo York and Jed York‡1,2009
28,Seattle Seahawks,"Jody Allen, trustee6",2018
29,Tampa Bay Buccaneers,Bryan Glazer and siblings‡,2014
30,Tennessee Titans,Amy Adams Strunk 2,2013
31,Washington Redskins,Dan Snyder†,1999

# Transform-Teams & Owners

In [17]:
team_df=teams[0]
owners_df=owners[0]

In [18]:
team_df=team_df.drop([0])
team_df.head()

     0                  1
1  ARI  Arizona Cardinals
2  ATL    Atlanta Falcons
3  BAL   Baltimore Ravens
4  BUF      Buffalo Bills
5  CAR  Carolina Panthers

In [19]:
team_df=team_df.rename(columns={0: "TM", 1: "Team"})

In [20]:
owners_df['Owner']=owners_df['Owner'].str.replace("†1","").str.replace("‡6","").str.replace("†","").str.replace("‡2","").str.replace("‡","")
owners_df=owners_df.rename(columns={"Yearacquired":"Year_Acquired","Franchise":"Team"})

owners_df

,Team,Owner,Year_Acquired
0,Arizona Cardinals,Estate of Bill Bidwill,2019
1,Atlanta Falcons,Arthur Blank,2004
2,Baltimore Ravens,Steve Bisciotti,2004
3,Buffalo Bills,Kim and Terry Pegula,2014
4,Carolina Panthers,David Tepper,2018
5,Chicago Bears,Virginia Halas McCaskey,1983
6,Cincinnati Bengals,Mike Brown,1991
7,Cleveland Browns,Jimmy and Dee Haslam,2012
8,Dallas Cowboys,Jerry Jones,1989
9,Denver Broncos,"Joe Ellis, trustee6",2019
10,Detroit Lions,Martha Ford[1],2014
11,Green Bay Packers,"Green Bay Packers, Inc.4",1923
12,Houston Texans,Janice McNair and family,2018
13,Indianapolis Colts,Jim Irsay,1997
14,Jacksonville Jaguars,Shahid Khan,2012
15,Kansas City Chiefs,Clark Hunt and siblings,2006
16,Las Vegas Raiders,Carol and Mark Davis (mother and son),2011
17,Los Angeles Chargers,Dean Spanos,2018
18,Los Angeles Rams,Stan Kroenke1,2010
19,Miami Dolphins,Stephen M. Ross,2008
20,Minnesota Vikings,Zygi Wilf,2005
21,New England Patriots,Robert Kraft,1994
22,New Orleans Saints,Gayle Benson,2018
23,New York Giants,John Mara (50%)3 Steve Tisch (50%),2005
24,New York Jets,Robert Wood Johnson IV5 and Christopher Wold J...,2000
25,Philadelphia Eagles,Jeffrey Lurie,1994
26,Pittsburgh Steelers,"Art Rooney II1,3 (60%) and family (12%)1,2,3",2017
27,San Francisco 49ers,Denise DeBartolo York and Jed York1,2009
28,Seattle Seahawks,"Jody Allen, trustee6",2018
29,Tampa Bay Buccaneers,Bryan Glazer and siblings,2014
30,Tennessee Titans,Amy Adams Strunk 2,2013
31,Washington Redskins,Dan Snyder,1999

In [21]:
team_summ=pd.merge(owners_df,team_df,on="Team")
team_summ.head()

                Team                   Owner  Year_Acquired   TM
0  Arizona Cardinals  Estate of Bill Bidwill           2019  ARI
1    Atlanta Falcons            Arthur Blank           2004  ATL
2   Baltimore Ravens         Steve Bisciotti           2004  BAL
3      Buffalo Bills    Kim and Terry Pegula           2014  BUF
4  Carolina Panthers            David Tepper           2018  CAR

In [22]:
team_table=pd.merge(team_summ,stadium_df,on='Team',how='outer')
team_table.dtypes

Team              object
Owner             object
Year_Acquired    float64
TM                object
stad_id          float64
Name              object
Capacity         float64
City              object
State             object
Surface           object
Roof_Type         object
Opened            object
dtype: object

In [23]:
#team_table.loc[team_table['TM']=='NYG','stad_id']=19

team_table.loc[24,['stad_id','Name','Capacity','City','State','Surface','Roof_Type','Opened']] = 19,'MetLife Stadium',82500,'East Rutherford','New Jersey','UBU Sports Speed Series S5-M Synthetic Turf[28]','Open','2010'
team_table.loc[23,['stad_id','Name','Capacity','City','State','Surface','Roof_Type','Opened']] = 19,'MetLife Stadium',82500,'East Rutherford','New Jersey','UBU Sports Speed Series S5-M Synthetic Turf[28]','Open','2010'

team_table.loc[17,['stad_id','Name','Capacity','City','State','Surface','Roof_Type','Opened']] = 25,'SoFi Stadium',70240,'Inglewood','California','Artificial turf','Fixed','2020'
team_table.loc[18,['stad_id','Name','Capacity','City','State','Surface','Roof_Type','Opened']] = 25,'SoFi Stadium',70240,'Inglewood','California','Artificial turf','Fixed','2020'

team_table.shape

(34, 12)

In [24]:
team_table=team_table[:-2]
team_table.tail(10)

,Team,Owner,Year_Acquired,TM,stad_id,Name,Capacity,City,State,Surface,Roof_Type,Opened
22,New Orleans Saints,Gayle Benson,2018.0,NO,17.0,Mercedes-Benz Superdome,73208.0,New Orleans,Louisiana,FieldTurf Revolution 360[8],Fixed,1975
23,New York Giants,John Mara (50%)3 Steve Tisch (50%),2005.0,NYG,19.0,MetLife Stadium,82500.0,East Rutherford,New Jersey,UBU Sports Speed Series S5-M Synthetic Turf[28],Open,2010
24,New York Jets,Robert Wood Johnson IV5 and Christopher Wold J...,2000.0,NYJ,19.0,MetLife Stadium,82500.0,East Rutherford,New Jersey,UBU Sports Speed Series S5-M Synthetic Turf[28],Open,2010
25,Philadelphia Eagles,Jeffrey Lurie,1994.0,PHI,14.0,Lincoln Financial Field,69596.0,Philadelphia,Pennsylvania,Desso GrassMaster[21],Open,2003
26,Pittsburgh Steelers,"Art Rooney II1,3 (60%) and family (12%)1,2,3",2017.0,PIT,11.0,Heinz Field,68400.0,Pittsburgh,Pennsylvania,Kentucky bluegrass,Open,2001
27,San Francisco 49ers,Denise DeBartolo York and Jed York1,2009.0,SF,13.0,Levi's Stadium,68500.0,Santa Clara,California,Bermuda grass / Perennial Ryegrass mixture,Open,2014
28,Seattle Seahawks,"Jody Allen, trustee6",2018.0,SEA,4.0,CenturyLink Field,69000.0,Seattle,Washington,FieldTurf Revolution 360[8],Open,2002
29,Tampa Bay Buccaneers,Bryan Glazer and siblings,2014.0,TB,24.0,Raymond James Stadium,65890.0,Tampa,Florida,Bermuda grass,Open,1998
30,Tennessee Titans,Amy Adams Strunk 2,2013.0,TEN,21.0,Nissan Stadium,69143.0,Nashville,Tennessee,Bermuda grass,Open,1999
31,Washington Redskins,Dan Snyder,1999.0,WAS,6.0,FedExField,82000.0,Landover,Maryland,Bermuda grass,Open,1997

In [25]:
team_table=team_table[['TM','Team','Owner','Year_Acquired','stad_id']]
team_table.head()

    TM               Team                   Owner  Year_Acquired  stad_id
0  ARI  Arizona Cardinals  Estate of Bill Bidwill         2019.0     27.0
1  ATL    Atlanta Falcons            Arthur Blank         2004.0     18.0
2  BAL   Baltimore Ravens         Steve Bisciotti         2004.0     16.0
3  BUF      Buffalo Bills    Kim and Terry Pegula         2014.0     20.0
4  CAR  Carolina Panthers            David Tepper         2018.0      3.0

In [26]:
stadium_df=stadium_df.drop(['Team'],axis=1)
stadium_df.columns

Index(['stad_id', 'Name', 'Capacity', 'City', 'State', 'Surface', 'Roof_Type',
       'Opened'],
      dtype='object')

# Extract-Salaries

In [27]:
url = 'https://www.pro-football-reference.com/players/salary.htm'

salary = pd.read_html(url)
salary

[          Rk              Player Pos   Tm       Salary
 0        1.0        Kirk Cousins  QB  MIN  $27,500,000
 1        2.0      Marcus Mariota  QB  TEN  $20,922,000
 2        NaN      Jameis Winston  QB  TAM  $20,922,000
 3        4.0          Derek Carr  QB  OAK  $19,900,000
 4        5.0          Joe Flacco  QB  DEN  $18,500,000
 ...      ...                 ...  ..  ...          ...
 1909     NaN       Michael Dogbe  DL  ARI     $495,000
 1910     NaN  Ross Pierschbacher  OL  WAS     $495,000
 1911  1912.0        Alex Redmond   G  CIN     $493,236
 1912  1913.0         Holton Hill  CB  MIN     $435,882
 1913  1914.0      Tyrone Swoopes  TE  SEA     $378,000

 [1914 rows x 5 columns]]

In [28]:
len(salary)

1

In [29]:
salary[0].head()

    Rk          Player Pos   Tm       Salary
0  1.0    Kirk Cousins  QB  MIN  $27,500,000
1  2.0  Marcus Mariota  QB  TEN  $20,922,000
2  NaN  Jameis Winston  QB  TAM  $20,922,000
3  4.0      Derek Carr  QB  OAK  $19,900,000
4  5.0      Joe Flacco  QB  DEN  $18,500,000

In [30]:
salary[0].dtypes

Rk        float64
Player     object
Pos        object
Tm         object
Salary     object
dtype: object

# Transform-Salaries

In [31]:
salary_df=salary[0]
salary_df.head()

    Rk          Player Pos   Tm       Salary
0  1.0    Kirk Cousins  QB  MIN  $27,500,000
1  2.0  Marcus Mariota  QB  TEN  $20,922,000
2  NaN  Jameis Winston  QB  TAM  $20,922,000
3  4.0      Derek Carr  QB  OAK  $19,900,000
4  5.0      Joe Flacco  QB  DEN  $18,500,000

In [32]:
salary_df['Salary'] = salary_df['Salary'].str.replace('$',"").str.replace(',',"")

salary_df['Salary'].astype(int)

salary_df.head()

    Rk          Player Pos   Tm    Salary
0  1.0    Kirk Cousins  QB  MIN  27500000
1  2.0  Marcus Mariota  QB  TEN  20922000
2  NaN  Jameis Winston  QB  TAM  20922000
3  4.0      Derek Carr  QB  OAK  19900000
4  5.0      Joe Flacco  QB  DEN  18500000

In [33]:
salary_df=salary_df.fillna(method='ffill')

In [34]:
salary_df.count()

Rk        1914
Player    1914
Pos       1914
Tm        1914
Salary    1914
dtype: int64

In [35]:
# new data frame with split value columns 
new = salary_df["Player"].str.split(" ", n = 1, expand = True) 
  
# making separate first name column from new data frame 
salary_df["First_Name"]= new[0] 
  
# making separate last name column from new data frame 
salary_df["Last_Name"]= new[1]

In [36]:
salary_df['Rank']=salary_df['Rk']
salary_df['TM']=salary_df['Tm']
salary_df.head()

salary_df=salary_df[['Rank', 'First_Name','Last_Name', 'Pos', 'TM', 'Salary']]
salary_df

        Rank First_Name      Last_Name Pos   TM    Salary
0        1.0       Kirk        Cousins  QB  MIN  27500000
1        2.0     Marcus        Mariota  QB  TEN  20922000
2        2.0     Jameis        Winston  QB  TAM  20922000
3        4.0      Derek           Carr  QB  OAK  19900000
4        5.0        Joe         Flacco  QB  DEN  18500000
...      ...        ...            ...  ..  ...       ...
1909  1584.0    Michael          Dogbe  DL  ARI    495000
1910  1584.0       Ross  Pierschbacher  OL  WAS    495000
1911  1912.0       Alex        Redmond   G  CIN    493236
1912  1913.0     Holton           Hill  CB  MIN    435882
1913  1914.0     Tyrone        Swoopes  TE  SEA    378000

[1914 rows x 6 columns]

# Load

In [37]:
#Import additional dependancies
from sqlalchemy import create_engine
from sqlalchemy.types import Integer,BigInteger
import psycopg2

In [38]:
#Session Engine
engine = create_engine('postgresql://postgres:postgres@localhost:5432/nfl_db')
connection = engine.connect()

In [39]:
# #Establishing the connection
# conn = psycopg2.connect(
#    database="nfl_db", user='postgres', password='postgres', host='127.0.0.1', port= '5432'
# )
# #Creating a cursor object using the cursor() method
# cursor = conn.cursor()

# #Doping EMPLOYEE table if already exists.
# cursor.execute("DROP TABLE IF EXISTS salary")

# #Creating table as per requirement
# sql ='''CREATE TABLE salary(
#    Rank INT NOT NULL,
#    First_Name CHAR(30) NOT NULL,
#    Last_Name CHAR(30)NOT NULL,
#    POS CHAR(2) NOT NULL,
#    TM CHAR(3) NOT NULL,
#    Salary INT NOT NULL,
#    Primary Key (Rank)
# )'''
# cursor.execute(sql)
# print("Table created successfully........")

# #Closing the connection
# conn.close()

In [40]:
#Load dataframe to PostgreSQL
# stadium_df.to_sql('stadiums', engine)

# team_df.to_sql('teams',engine)

# team_table.to_sql('team_info',engine)

# salary_df.to_sql('salaries',engine)